*:focus {
  @apply outline-none;
}
*:focus-visible {
  @apply outline-1;
  @apply outline-offset-4;
  @apply outline-white/10;
}
::selection {
  @apply bg-purple-400/50;
  @apply text-white;
}
.medium-zoom-overlay {
  @apply bg-slate-950 #{!important};
  @apply z-40 #{!important};
}
.medium-zoom-image--opened {
  @apply rounded-md #{!important};
  @apply z-50 #{!important};
  @apply p-0 #{!important};
  @apply border-0 #{!important};
}
#nprogress .bar {
  @apply z-50;
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
}
.tippy-box {
  @apply max-w-none #{!important};
  @apply font-medium;
}
.tippy-box[data-theme~='tooltip'] {
  @apply rounded;
  @apply shadow-sm;
}
.tippy-box[data-theme~='tooltip'] > .tippy-content {
  @apply text-xs;
  @apply bg-white;
  @apply text-slate-600;
  @apply px-2;
  @apply py-1;
  @apply rounded;
  @apply overflow-hidden;
}
.tippy-box[data-theme~='tooltip'] > .tippy-svg-arrow {
  @apply fill-white;
}
.tippy-box[data-theme~='popover'] {
  @apply rounded-lg;
  @apply shadow-2xl;
}
.tippy-box[data-theme~='popover'] > .tippy-content {
  @apply text-xs;
  @apply bg-white;
  @apply text-slate-600;
  @apply p-0;
  @apply rounded-lg;
  @apply overflow-hidden;
}
.tippy-box[data-theme~='popover'] > .tippy-svg-arrow {
  @apply fill-white;
}
.hero-subtitle-gradient {
  background: linear-gradient( 180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100% );
  transition: .45s cubic-bezier(.6,.6,0,1) box-shadow;
}
.hero-subtitle-gradient:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  background: linear-gradient( 180deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0) 100% );
}
.hero-subtitle-gradient-hover:hover {
  -webkit-box-shadow: inset 0 -7px 11px #a48fff3d;
  box-shadow: inset 0 -7px 11px #a48fff3d;
}
.hero-button-gradient {
  box-shadow: 0 -3px 10px 0 #00000040 inset;
  background: linear-gradient(180deg, #a073ee -11.11%,#6e25ed 100%);
}
