*:focus {
  @apply outline-none;
}
*:focus-visible {
  @apply outline-1;
  @apply outline-offset-4;
  @apply outline-white/10;
}
::selection {
  @apply bg-purple-500/50;
  @apply text-white;
}
.medium-zoom-overlay {
  @apply bg-slate-950 #{!important};
  @apply z-40 #{!important};
}
.medium-zoom-image--opened {
  @apply rounded-md #{!important};
  @apply z-50 #{!important};
  @apply p-0 #{!important};
  @apply border-0 #{!important};
}
.tippy-box {
  @apply text-slate-600 #{!important};
  @apply text-xs #{!important};
  @apply px-2;
  @apply py-1;
  @apply font-medium;
}
.tippy-content {
  @apply p-0;
}

#nprogress .bar {
  @apply z-50;
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
}
