/* Typography */
h1 {
  @apply text-5xl font-semibold leading-normal tracking-tight font-jakarta;
}
h2 {
  @apply text-4xl font-semibold leading-normal tracking-tight font-jakarta;
}
h3 {
  @apply text-3xl font-semibold leading-normal tracking-tight font-jakarta;
}
h4 {
  @apply text-2xl font-semibold leading-normal tracking-tight font-jakarta;
}
@screen md {
  h1 {
    @apply text-6xl leading-tight;
  }
  h2 {
    @apply text-5xl leading-tight;
  }
  h3 {
    @apply text-4xl leading-tight;
  }
  h4 {
    @apply text-3xl leading-tight;
  }
}
@screen lg {
  h1 {
    @apply text-7xl leading-tight;
  }
  h2 {
    @apply text-6xl leading-tight;
  }
  h3 {
    @apply text-5xl leading-tight;
  }
  h4 {
    @apply text-4xl leading-tight;
  }
}
/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply bg-slate-900 border border-transparent focus:border-purple-500;
}
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded;
}
.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply text-slate-200 text-sm px-3 py-1.5;
}
.form-input,
.form-textarea {
  @apply placeholder-slate-500;
}
.form-select {
  @apply pr-10;
}
.form-checkbox,
.form-radio {
  @apply text-purple-600 rounded-sm;
}
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
