<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col items-center justify-center h-full p-8 bg-gradient-to-r from-purple-100 to-blue-100"
    style="font-family: 'Poppins', sans-serif"
  >
    <!-- The following line gets replaced by generator.js -->
    <div class="flex items-center justify-between w-full p-4">
      <span
        class="px-6 py-4 text-3xl font-semibold tracking-tighter text-gray-800"
      >
        Hoppscotch Blog
      </span>
    </div>
    <div class="flex flex-col items-center justify-center flex-1">
      <h1
        class="max-w-5xl font-extrabold tracking-tighter text-center text-white truncate max-h-80 text-8xl"
      >
        {{ title }}
      </h1>
      <img
        src="https://next.hoppscotch.com/images/{{ banner }}"
        alt="{{ title }}"
        class="w-auto h-full my-8 rounded-lg shadow-2xl"
        referrerpolicy="no-referrer"
      />
      <div
        class="flex items-center space-x-4 rounded-full text-white/50 bg-white/50"
      >
        <img
          class="w-10 h-10 rounded-full"
          src="https://next.hoppscotch.com/images/{{ author.image }}"
          alt="{{ author.name }}"
        />
        <div class="text-lg font-medium tracking-tighter text-gray-800">
          {{ author.name }}
        </div>
      </div>
    </div>
  </body>
</html>
