[build.environment]
# bypass npm auto install
NPM_FLAGS = "--version"
NODE_VERSION = "16"

[build]
publish = "dist"
command = "npx pnpm i --store=node_modules/.pnpm-store && npx pnpm run build"

[[redirects]]
from = "/careers"
to = "https://app.pyjamahr.com/careers?company=Hoppscotch&company_uuid=8470DC1BAA"
status = 301
force = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/manifest.webmanifest"
[headers.values]
Content-Type = "application/manifest+json"
