*:focus {
  @apply outline-none;
}
*:focus-visible {
  @apply outline-1;
  @apply outline-offset-4;
  @apply outline-white/10;
}
::selection {
  @apply bg-neutral-400/50;
  @apply text-neutral-50;
}
.medium-zoom-overlay {
  @apply bg-neutral-950 #{!important};
  @apply z-40 #{!important};
}
.medium-zoom-image--opened {
  @apply rounded-md #{!important};
  @apply z-50 #{!important};
  @apply p-0 #{!important};
  @apply border-0 #{!important};
}
.tippy-box {
  @apply max-w-none #{!important};
}
.tippy-box[data-theme~="tooltip"] {
  @apply rounded-md;
  @apply shadow-md;
}
.tippy-box[data-theme~="tooltip"] > .tippy-content {
  @apply text-xs;
  @apply bg-neutral-900;
  @apply text-neutral-300;
  @apply px-3;
  @apply py-2;
  @apply rounded-md;
  @apply overflow-hidden;
}
.tippy-box[data-theme~="tooltip"] > .tippy-svg-arrow {
  @apply fill-neutral-950;
}
.tippy-box[data-theme~="popover"] {
  @apply rounded-2xl;
  @apply shadow-2xl;
  @apply bg-neutral-950;
}
.tippy-box[data-theme~="popover"] > .tippy-content {
  @apply text-xs;
  @apply bg-gradient-to-br;
  @apply from-neutral-900/80;
  @apply to-neutral-950/80;
  @apply text-neutral-300;
  @apply p-0;
  @apply rounded-2xl;
  @apply overflow-hidden;
  @apply border border-neutral-800;
}
.tippy-box[data-theme~="popover"] > .tippy-svg-arrow {
  @apply fill-transparent;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
