@import "./markdown.scss";
@import "./themes.scss";

* {
  @apply backface-hidden;
  @apply before:backface-hidden;
  @apply after:backface-hidden;
  @apply selection:bg-accentDark;
  @apply selection:text-accentContrast;
}

:root {
  @apply antialiased;

  accent-color: var(--accent-color);
  font-variant-ligatures: common-ligatures;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  @apply transition;
  @apply bg-primary;
  @apply text-secondary;
}

body {
  @apply text-xs;
  @apply overflow-x-hidden;
  @apply select-none;
  @apply font-medium;

  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  animation: fade 300ms forwards;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

input::placeholder,
textarea::placeholder {
  @apply text-secondary;
  @apply opacity-35;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-accentLight opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.tippy-content {
  @apply p-0;
}

.tippy-box[data-theme~="tooltip"] {
  @apply bg-tooltip;
  @apply text-tooltipSecondary;
  @apply text-xs;
  @apply font-medium;
  @apply py-2;
  @apply px-3;
  @apply shadow-md;
  @apply transition;

  & > .tippy-arrow {
    @apply transition;
    @apply text-tooltip;
  }
}

.tippy-box[data-theme~="popover"] {
  @apply bg-tooltip;
  @apply text-tooltipSecondary;
  @apply p-2;
  @apply shadow-xl;
  @apply transition;
  @apply text-xs;

  & > .tippy-arrow {
    @apply transition;
    @apply text-tooltip;
  }
}

.shortcut-key {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply bg-dividerLight;
  @apply text-secondaryLight;
  @apply text-xs;
  @apply font-sans;
  @apply font-medium;
  @apply rounded-full;
  @apply ml-2;
  @apply px-2;
  @apply transition;
  @apply border;
  @apply border-dividerDark;
}

a {
  @apply inline-flex;
  @apply no-underline;
  @apply outline-none;

  &.link {
    @apply items-center;
    @apply py-0.5 px-1;
    @apply -my-0.5 -mx-1;
    @apply text-accent;
    @apply rounded;
    @apply hover:text-accentDark;
    @apply focus-visible:ring;
    @apply focus-visible:ring-accent;
  }
}

.interactive-hover-animation {
  @apply bg-primaryTransparentContrast;
  @apply inline-flex;
  @apply flex-col;
  @apply relative;
  @apply rounded-xl;

  &:before,
  &:after {
    @apply content-DEFAULT;
    @apply absolute;
    @apply inset-0;
    @apply transition;
    @apply opacity-0;
    @apply rounded-xl;
  }

  &:hover::before {
    @apply opacity-100;
  }

  &:before {
    z-index: 3;
    background: radial-gradient(
      1000px circle at var(--x) var(--y),
      var(--color-primaryTransparent),
      transparent 35%
    );
  }

  &:after {
    z-index: 1;
    background: radial-gradient(
      600px circle at var(--x) var(--y),
      var(--color-primaryTransparent),
      transparent 40%
    );
  }

  &:hover:before {
    @apply opacity-5;
  }

  .interactive-hover-contents {
    @apply transition;
    @apply bg-primaryLight;
    @apply flex;
    @apply flex-col;
    @apply flex-1;
    @apply inset-0.25;
    @apply absolute;
    @apply rounded-xl;

    z-index: 2;
  }
}

.interactive-hover-animation-container {
  &:hover {
    .interactive-hover-animation::after {
      @apply opacity-25;
    }
  }
}

// https://codepen.io/jh3y/pen/wvXvERq

// .interactive-card-animation:not(:hover) img {
//   transition: translate 0.2s;
// }

// .interactive-card-animation:hover img {
//   translate:
//     calc((var(--ratio-x) - 0.5) * 20%)
//     calc((var(--ratio-y) - 0.5) * 20%);
// }

// .interactive-card-animation {
//   overflow: hidden;
//   // aspect-ratio: 3 / 4;
//   transform-style: preserve-3d;
//   touch-action: none;
// }

// .interactive-card-animation:hover {
//   transform:
//     rotateX(calc((var(--ratio-y) - 0.5) * 50deg))
//     rotateY(calc((var(--ratio-x) - 0.5) * -40deg));
// }

// .interactive-card-animation:not(:hover) {
//   transform: rotateX(0deg) rotateY(0deg);
//   transition: transform 0.2s;
// }

// .interactive-card-animation:after {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background:
//     radial-gradient(circle at calc(var(--ratio-x) * 100%) calc(var(--ratio-y) * 100%), hsl(0 0% 100% / 0.5), transparent 50%);
//   background-repeat: no-repeat;
//   background-blend-mode: soft-light;
//   z-index: 2;
// }

// .interactive-card-animation:before {
//   content: "";
//   background:
//    url(https://assets.codepen.io/605876/code-icon-bg.svg) 0 0 / 18% 18%,
//    linear-gradient(115deg,
//      transparent 20%,
//      var(--green-8) 30%,
//      transparent 48% 52%,
//      var(--indigo-8) 70%,
//      transparent
//    )
//    80% 80% / 300% 300%;
//   filter: brightness(2) contrast(1);
//   background-blend-mode: overlay;
//   mix-blend-mode: color-dodge;
//   position: absolute;
//   inset: 0;
//   z-index: 2;
//   opacity: 0.2;
//   transition: opacity 0.2s;
// }

// .interactive-card-animation:hover:before {
//   background-position:
//     calc(var(--ratio-x) * 10%) calc(var(--ratio-y) * 10%),
//     calc(80% + (var(--ratio-x) * -50%)) calc(80% + (var(--ratio-y) * -50%));
//   opacity: 1;
// }

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.magic {
  display: block;
  position: relative;
}

.magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magic > .magic-star > svg > path {
  fill: var(--violet);
}

.magic-text {
  @apply relative;
  @apply whitespace-nowrap;
  @apply text-transparent;
  @apply bg-clip-text #{!important};

  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
}

.box {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.animated-grid {
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 15, 248, 0.1) 25%,
      rgba(255, 15, 248, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 15, 248, 0.1) 75%,
      rgba(255, 15, 248, 0.1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 15, 248, 0.1) 25%,
      rgba(255, 15, 248, 0.1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 15, 248, 0.1) 75%,
      rgba(255, 15, 248, 0.1) 76%,
      transparent 77%,
      transparent
    );
  background-size: 2rem 2rem;
  animation: 16s infinite linear moving_grid;
}

.animated-grid:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 135, 252, 0) 45%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.5;
}

@keyframes moving_grid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
