@import "./markdown.css";
@import "./themes.scss";

* {
  @apply backface-hidden;
  @apply before:backface-hidden;
  @apply after:backface-hidden;
  @apply selection:bg-accentDark;
  @apply selection:text-accentContrast;
}

:root {
  @apply antialiased;

  accent-color: var(--accent-color);
  font-variant-ligatures: common-ligatures;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  @apply transition;
  @apply bg-primary;
  @apply text-secondary;
}

body {
  @apply text-sm;
  @apply overflow-x-hidden;
  @apply select-none;
  @apply font-medium;

  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  animation: fade 300ms forwards;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

input::placeholder,
textarea::placeholder {
  @apply text-secondary;
  @apply opacity-35;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-accentLight opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.tippy-content {
  @apply p-0;
}

.tippy-box[data-theme~="tooltip"] {
  @apply bg-tooltip;
  @apply text-tooltipSecondary;
  @apply text-xs;
  @apply font-medium;
  @apply py-2;
  @apply px-3;
  @apply shadow-md;
  @apply transition;

  & > .tippy-arrow {
    @apply transition;
    @apply text-tooltip;
  }
}

.tippy-box[data-theme~="popover"] {
  @apply bg-tooltip;
  @apply text-tooltipSecondary;
  @apply p-2;
  @apply shadow-xl;
  @apply transition;

  & > .tippy-arrow {
    @apply transition;
    @apply text-tooltip;
  }
}

.shortcut-key {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply bg-dividerLight;
  @apply text-secondaryLight;
  @apply text-xs;
  @apply font-sans;
  @apply font-medium;
  @apply rounded-full;
  @apply ml-2;
  @apply px-2;
  @apply transition;
  @apply border;
  @apply border-dividerDark;
}

a {
  @apply inline-flex;
  @apply no-underline;
  @apply outline-none;

  &.link {
    @apply items-center;
    @apply py-0.5 px-1;
    @apply -my-0.5 -mx-1;
    @apply text-accent;
    @apply rounded;
    @apply hover:text-accentDark;
    @apply focus-visible:ring;
    @apply focus-visible:ring-accent;
  }
}
