@import "./markdown.css";

* {
  @apply backface-hidden;
  @apply before:backface-hidden;
  @apply after:backface-hidden;
  @apply selection:bg-accentDark;
  @apply selection:text-accentContrast;
}

:root {
  @apply antialiased;

  accent-color: var(--accent-color);
  font-variant-ligatures: common-ligatures;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  @apply transition;
  @apply bg-primary;
  @apply text-secondary;
}

@mixin lightMode {
  --color-primary: theme("colors.white");
  --color-primaryLight: theme("colors.light.500");
  --color-primaryDark: theme("colors.light.700");

  --color-secondary: theme("colors.true-gray.700");
  --color-secondaryLight: theme("colors.true-gray.500");
  --color-secondaryDark: theme("colors.true-gray.800");

  --color-divider: theme("colors.light.600");
  --color-dividerLight: theme("colors.light.400");
  --color-dividerDark: theme("colors.light.800");

  --color-tooltip: theme("colors.white");
  --color-tooltipSecondary: theme("colors.true-gray.600");
}

@mixin darkMode {
  --color-primary: theme("colors.dark.900");
  --color-primaryLight: theme("colors.dark.400");
  --color-primaryDark: theme("colors.dark.800");

  --color-secondary: theme("colors.true-gray.300");
  --color-secondaryLight: theme("colors.true-gray.500");
  --color-secondaryDark: theme("colors.white");

  --color-divider: theme("colors.dark.400");
  --color-dividerLight: theme("colors.dark.500");
  --color-dividerDark: theme("colors.dark.300");

  --color-tooltip: theme("colors.dark.600");
  --color-tooltipSecondary: theme("colors.true-gray.400");
}

html {
  @include lightMode;

  --color-accent: theme("colors.green.600");
  --color-accentLight: theme("colors.green.400");
  --color-accentDark: theme("colors.green.800");
  --color-accentContrast: theme("colors.white");

  --color-gradientFrom: 16, 185, 129;
  --color-gradientVia: 16, 185, 129;
  --color-gradientTo: 4, 120, 87;
}

html.dark {
  @include darkMode;
}

body {
  @apply text-sm;
  @apply overflow-x-hidden;
  @apply select-none;

  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  animation: fade 300ms forwards;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@keyframes fade {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}

input::placeholder,
textarea::placeholder {
  @apply text-secondary;
  @apply opacity-35;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.tippy-content {
  @apply p-0;
}

.tippy-box[data-theme~="tooltip"] {
  @apply bg-tooltip;
  @apply text-tooltipSecondary;
  @apply text-xs;
  @apply font-medium;
  @apply py-2;
  @apply px-3;
  @apply shadow-md;
  @apply transition;

  & > .tippy-arrow {
    @apply transition;
    @apply text-tooltip;
  }
}

.tippy-box[data-theme~="popover"] {
  @apply bg-tooltip;
  @apply text-tooltipSecondary;
  @apply p-2;
  @apply shadow-xl;
  @apply transition;

  & > .tippy-arrow {
    @apply transition;
    @apply text-tooltip;
  }
}

.shortcut-key {
  @apply inline-flex;
  @apply bg-divider;
  @apply rounded;
  @apply ml-2;
  @apply px-1;
}

a {
  @apply inline-flex;
  @apply no-underline;
  @apply outline-none;

  &.link {
    @apply items-center;
    @apply py-0.5 px-1;
    @apply -my-0.5 -mx-1;
    @apply text-accent;
    @apply rounded;
    @apply hover:text-accentDark;
    @apply focus-visible:ring;
    @apply focus-visible:ring-accent;
  }
}
