@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=fallback");
@import "tailwindcss/base";
@import "tailwindcss/components";
/* Additional styles */
@import "additional-styles/utility-patterns.scss";
@import "additional-styles/theme.scss";
@import "additional-styles/main.scss";
@import "tailwindcss/utilities";
/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}
