@mixin lightMode {
  --color-primary: theme("colors.white");
  --color-primaryLight: theme("colors.light.400");
  --color-primaryDark: theme("colors.light.600");
  --color-primaryTransparent: theme("colors.dark.500");
  --color-primaryTransparentContrast: var(--color-divider);

  --color-secondary: theme("colors.true-gray.700");
  --color-secondaryLight: theme("colors.true-gray.500");
  --color-secondaryDark: theme("colors.true-gray.800");

  --color-divider: theme("colors.light.700");
  --color-dividerLight: theme("colors.light.400");
  --color-dividerDark: theme("colors.light.900");

  --color-tooltip: theme("colors.white");
  --color-tooltipSecondary: theme("colors.true-gray.600");

  --color-accent: theme("colors.true-gray.800");
  --color-accentLight: theme("colors.true-gray.700");
  --color-accentDark: theme("colors.true-gray.900");
  --color-accentContrast: theme("colors.white");
}

@mixin darkMode {
  --color-primary: theme("colors.dark.900");
  --color-primaryLight: theme("colors.dark.800");
  --color-primaryDark: theme("colors.dark.500");
  --color-primaryTransparent: theme("colors.light.500");
  --color-primaryTransparentContrast: var(--color-divider);

  --color-secondary: theme("colors.light.500");
  --color-secondaryLight: theme("colors.light.900");
  --color-secondaryDark: theme("colors.white");

  --color-divider: theme("colors.dark.600");
  --color-dividerLight: theme("colors.dark.400");
  --color-dividerDark: theme("colors.dark.200");

  --color-tooltip: theme("colors.dark.800");
  --color-tooltipSecondary: theme("colors.white");

  --color-accent: theme("colors.white");
  --color-accentLight: theme("colors.light.400");
  --color-accentDark: theme("colors.light.800");
  --color-accentContrast: theme("colors.black");
}

html {
  @include lightMode;
}

html.dark {
  @include darkMode;
}
