@mixin lightMode {
  --color-primary: theme("colors.white");
  --color-primaryLight: theme("colors.light.400");
  --color-primaryDark: theme("colors.light.600");
  --color-primaryTransparent: theme("colors.dark.500");
  --color-primaryTransparentContrast: rgba(0, 0, 0, 0.1);

  --color-secondary: theme("colors.true-gray.700");
  --color-secondaryLight: theme("colors.true-gray.500");
  --color-secondaryDark: theme("colors.true-gray.800");

  --color-divider: theme("colors.light.700");
  --color-dividerLight: theme("colors.light.400");
  --color-dividerDark: theme("colors.light.900");

  --color-tooltip: theme("colors.white");
  --color-tooltipSecondary: theme("colors.true-gray.600");
}

@mixin darkMode {
  --color-primary: #010314;
  --color-primaryLight: #121524;
  --color-primaryDark: #1d1f2f;
  --color-primaryTransparent: theme("colors.light.800");
  --color-primaryTransparentContrast: rgba(255, 255, 255, 0.1);

  --color-secondary: theme("colors.true-gray.300");
  --color-secondaryLight: theme("colors.true-gray.400");
  --color-secondaryDark: theme("colors.white");

  --color-divider: #292d41;
  --color-dividerLight: #151936;
  --color-dividerDark: #262b48;

  --color-tooltip: #131520;
  --color-tooltipSecondary: theme("colors.true-gray.400");
}

html {
  @include lightMode;

  --color-accent: #63e;
  --color-accentLight: rgb(94, 47, 222);
  --color-accentDark: rgb(65, 13, 208);
  --color-accentContrast: theme("colors.white");
}

html.dark {
  @include darkMode;
}
