
@mixin lightMode {
  --color-primary: theme("colors.white");
  --color-primaryLight: theme("colors.light.400");
  --color-primaryDark: theme("colors.light.600");

  --color-secondary: theme("colors.true-gray.700");
  --color-secondaryLight: theme("colors.true-gray.500");
  --color-secondaryDark: theme("colors.true-gray.800");

  --color-divider: theme("colors.light.600");
  --color-dividerLight: theme("colors.light.400");
  --color-dividerDark: theme("colors.light.800");

  --color-tooltip: theme("colors.white");
  --color-tooltipSecondary: theme("colors.true-gray.600");
}

@mixin darkMode {
  --color-primary: theme("colors.dark.900");
  --color-primaryLight: theme("colors.dark.400");
  --color-primaryDark: theme("colors.dark.800");

  --color-secondary: theme("colors.true-gray.300");
  --color-secondaryLight: theme("colors.true-gray.400");
  --color-secondaryDark: theme("colors.white");

  --color-divider: theme("colors.dark.400");
  --color-dividerLight: theme("colors.dark.500");
  --color-dividerDark: theme("colors.dark.300");

  --color-tooltip: theme("colors.dark.600");
  --color-tooltipSecondary: theme("colors.true-gray.400");
}

html {
  @include lightMode;

  --color-accent: theme("colors.green.600");
  --color-accentLight: theme("colors.green.500");
  --color-accentDark: theme("colors.green.700");
  --color-accentContrast: theme("colors.white");

  --color-gradientFrom: 255, 255, 255;
  --color-gradientVia: 255, 255, 255;
  --color-gradientTo: 255, 255, 255;
}

html.dark {
  @include darkMode;
}
