:root {
  /* --color-primary: theme("colors.neutral.100");
  --color-primary-dark: theme("colors.neutral.200");
  --color-secondary: theme("colors.neutral.900"); */

  --color-primary: theme("colors.neutral.950");
  --color-primary-dark: theme("colors.neutral.900");
  --color-secondary: theme("colors.neutral.100");
}
:root.dark {
  --color-primary: theme("colors.neutral.950");
  --color-primary-dark: theme("colors.neutral.900");
  --color-secondary: theme("colors.neutral.100");
}
